@using System.Configuration

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>爱玩高尔夫</title>
    <meta name="viewport" content="width=320.1, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="http://webresource.c-ctrip.com/styles/h5/common/main.css" />
    <meta name="appBaseUrl" content="@Url.Content("~/")" />
<!---<link rel="stylesheet" href="@ConfigurationManager.AppSettings["WebresourcePDBaseUrl"]style/iwan.min.css"/>-->
    <link rel="stylesheet" href="@ConfigurationManager.AppSettings["WebresourcePDBaseUrl"]res/style/fun.css"/>
    <link rel="stylesheet" href="@ConfigurationManager.AppSettings["WebresourcePDBaseUrl"]res/style/leaderboard.award.css"/>
    <link rel="stylesheet" href="@ConfigurationManager.AppSettings["WebresourcePDBaseUrl"]res/style/leaderboard.css"/>
    <link rel="stylesheet" href="@ConfigurationManager.AppSettings["WebresourcePDBaseUrl"]res/style/leaderboard.summary.css"/>
    <link rel="stylesheet" href="@ConfigurationManager.AppSettings["WebresourcePDBaseUrl"]res/style/reset.css"/>